POSTGRES_USER=wishlist_dev
POSTGRES_PASSWORD=CHANGE_ME_DEV_PASSWORD
POSTGRES_DB=wishlist_dev

DATABASE_URL=postgres://wishlist_dev:CHANGE_ME_DEV_PASSWORD@db:5432/wishlist_dev?sslmode=disable
CORS_ORIGINS=https://dev.our-nest.ru
VITE_API_URL=https://api-dev.our-nest.ru
