POSTGRES_USER=wishlist
POSTGRES_PASSWORD=CHANGE_ME_STRONG_PASSWORD
POSTGRES_DB=wishlist

DATABASE_URL=postgres://wishlist:CHANGE_ME_STRONG_PASSWORD@db:5432/wishlist?sslmode=disable
CORS_ORIGINS=https://our-nest.ru,https://www.our-nest.ru
VITE_API_URL=https://api.our-nest.ru
